.card_img {
    width: 10rem !important;
    margin: auto;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.loader_container{
    display: flex;
    justify-content: center;
}